importFrom(stats, median, prcomp, predict, sd)
importFrom(parallel, mclapply)
importFrom(abind, abind)
importFrom(e1071, svm)
export(MIdecodingClassifiers, Info, MIdecoding)
S3method(print, MIdecoding)
S3method(summary, MIdecoding)
S3method(print, summary.MIdecoding)
S3method(as.array, MIdecoding)
